@font-face {
	font-family: Eurostile;
	src: url(fonts/Eurostile.woff2) format("woff2");
}

@font-face {
	font-family: "Eurostile Extended";
	src: url(fonts/EurostileExtended.woff2) format("woff2");
}

@font-face {
	font-family: "Fira Mono";
	src: url(fonts/FiraMono.woff2) format("woff2");
}

:root {
	--conflict-link: #f00;
	--conflict-border: #c00000;
	--base-link: #ffff00;
	--base-border: #a00000;
	--base-button: #600000;
	--neutral-link: #ff8040;
	--neutral-link-hover: #ffbfbf;
	--neutral-button: #a06020;
	--protoss-link: #40a0ff;
	--protoss-link-hover: #bfdfff;
	--protoss-button: #2040c0;
	--terran-link: #40c060;
	--terran-link-hover: #bfffdf;
	--terran-button: #208040;
	--zerg-link: #c060c0;
	--zerg-link-hover: #ffbfff;
	--zerg-button: #804080;
}

*.hidden, a#link, h1, ul#filters span {
	display: none;
}

a {
	background: none;
	color: var(--base-link);
	font-weight: bold;
	text-decoration: none;
}

a, button, div#cards img {
	cursor: pointer;
}

a.conflict, span.conflict {
	background: none;
	color: var(--conflict-link) !important;
}

a:hover, a:active {
	background: none;
	color: #fff;
	text-decoration: underline;
	text-shadow: 0 0 8px;
	transition: 0.3s color;
}

body {
	margin: 0;
	padding: 0;
}

body.doc h1 {
	display: block;
}

body.doc h3, h2, h3#command {
	font-size: 1.5rem;
}

body.doc h4, div#editor input, div.overlay, fieldset.card span {
	font-size: 1.25rem;
}

body.doc header {
	text-align: center;
}

body.doc main {
	margin: 4em 10%;
}

body.doc main, code, div#editor, div.overlay, fieldset.card>div div, fieldset.card span, figure {
	background: rgba(0, 0, 0, 0.5);
	color: inherit;
}

body.doc main, div#editor {
	box-shadow: 0 0 0 2px #606060;
	border: 2px solid var(--base-border);
	border-radius: 1em;
	padding: 1em;
}

body.doc section {
	margin-bottom: 5em;
}

body.doc section p {
	margin-left: 2em;
}

button {
	border: 2px outset var(--base-border);
	border-radius: 0.1em;
	color: #fff;
	font-family: inherit;
	font-size: 2rem;
	font-weight: bold;
	line-height: 100%;
	margin: 0 0.25em 0.25em 0;
	padding: 0.25em 0.5em;
}

button, input {
	font-family: inherit;
}

button, ul#results li.selected {
	background: var(--base-button) linear-gradient(var(--base-button), var(--base-border));
}

button#abathur {
	background: url(portraits/abathur.png);
}

button#alarak {
	background: url(portraits/alarak.png);
}

button#artanis {
	background: url(portraits/artanis.png);
}

button#dehaka {
	background: url(portraits/dehaka.png);
}

button#fenix {
	background: url(portraits/fenix.png);
}

button#han {
	background: url(portraits/han.png);
}

button#help {
	border-radius: 100%;
}

button#karax {
	background: url(portraits/karax.png);
}

button#kerrigan {
	background: url(portraits/kerrigan.png);
}

button#mengsk {
	background: url(portraits/mengsk.png);
}

button#nova {
	background: url(portraits/nova.png);
}

button#protoss {
	background: url(portraits/protoss.png);
}

button#raynor {
	background: url(portraits/raynor.png);
}

button#stetmann {
	background: url(portraits/stetmann.png);
}

button#stukov {
	background: url(portraits/stukov.png);
}

button#swann {
	background: url(portraits/swann.png);
}

button#terran {
	background: url(portraits/terran.png);
}

button#tychus {
	background: url(portraits/tychus.png);
}

button#vorazun {
	background: url(portraits/vorazun.png);
}

button#zagara {
	background: url(portraits/zagara.png);
}

button#zeratul {
	background: url(portraits/zeratul.png);
}

button#zerg {
	background: url(portraits/zerg.png);
}

button:disabled {
	background: #808080 linear-gradient(#808080, #c0c0c0) !important;
	border-color: #c0c0c0 !important;
}

button:focus, input:focus, textarea:focus {
	outline: 0;
}

button:hover, p#hotkey input:focus {
	box-shadow: 0 0 8px 2px #fff;
	transition: 0.1s box-shadow;
}

cite {
	font-style: normal;
	font-variant: small-caps;
	font-weight: bold;
}

code, fieldset {
	border: 1px solid #c0c0c0;
}

code, kbd, textarea {
	font-family: "Fira Mono", Consolas, monospace;
}

div#author {
	flex-grow: 1;
	font-size: 0.75rem;
	text-align: center;
}

div#buttons {
	text-align: right;
}

div#cards {
	display: flex;
	overflow: auto;
}

div#editor {
	bottom: 5em;
	position: fixed;
	left: 25%;
	right: 1em;
	top: 120px;
}

div#editor button {
	font-size: 0.75rem;
	padding: 0.25em 1em;
	width: auto;
}

div#fields {
	float: left;
	width: 50%;
}

div#fields, div#lists {
	max-height: 35vh;
	overflow: auto;
	padding: 0.5em;
}

div#util {
	margin-top: 1em;
}

div.overlay {
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	visibility: hidden;
	z-index: 1;
}

div.overlay button:last-child {
	margin-left: 0.5em;
}

div.overlay textarea {
	height: 50%;
	width: 80%;
}

div.overlay.open {
	opacity: 1;
	transition: 0.3s opacity;
	visibility: visible;
}

fieldset, ul#commands, ul#units {
	border-color: var(--base-border);
}

fieldset.card {
	flex-grow: 1;
	line-height: 100%;
	padding: 1em;
	margin-right: 1em;
}

fieldset.card>div {
	display: grid;
	grid-gap: 5px 5px;
	grid-template-columns: 64px 64px 64px 64px 64px;
	grid-template-rows: 64px 64px 64px;
	justify-content: center;
}

fieldset.card>div:last-child {
	margin-right: 0;
}

fieldset.card>div div {
	color: inherit;
	position: relative;
}

fieldset.card>div div, fieldset.card img, h2#unit img {
	height: 64px;
	width: 64px;
}

fieldset.card img {
	padding: 1px;
}

fieldset.card img:hover {
	border-radius: 0.5em;
	border: 1px solid #fff;
	box-shadow: inset 0 0 12px #fff;
	padding: 0;
}

fieldset.card span {
	font-weight: bold;
	height: 1em;
	left: 0;
	min-width: 1em;
	pointer-events: none;
	position: absolute;
	text-align: center;
	top: 0;
}

fieldset.card span, h3, p#hotkey input, p#prestige {
	text-shadow: 1px 1px #000;
}

figure {
	border-radius: 0.5em;
	margin: 1em auto;
	padding: 0.5em 0.5em 0;
	width: fit-content;
	width: -moz-fit-content;
}

footer {
	align-items: center;
	background: transparent linear-gradient(transparent, #000);
	bottom: 0;
	color: inherit;
	display: flex;
	left: 0;
	position: fixed;
	width: 100%;
}

figure img {
	height: auto;
	max-width: 100%;
}

h1 {
	font-size: 2rem;
}

h1, h2 {
	text-shadow: 0 0 8px;
	text-transform: uppercase;
}

h1, h2, h3, h4, p#prestige {
	font-family: "Eurostile Extended", Verdana, sans-serif;
	font-weight: bold;
}

h2#unit {
	font-size: 2rem;
	line-height: 64px;
}

h2#unit, h3#command {
	margin: 0 0 1em;
}

h2#unit img {
	float: left;
	margin-right: 0.5em;
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1rem;
	font-weight: normal;
}

html {
	background: fixed linear-gradient(to right, #000 0, rgba(0, 0, 0, 0) 25%),
		fixed #000 url(bg.jpg) 100% 0;
	background-size: cover;
	color: #fff;
	font: 12pt/200% Eurostile, Verdana, sans-serif;
	padding: 0;
}

html.neutral a {
	background: none;
	color: var(--neutral-link);
}

html.neutral a:hover, html.neutral a:active {
	background: none;
	color: var(--neutral-link-hover);
}

html.neutral button, html.neutral div#editor {
	border-color: var(--neutral-link);
}

html.neutral button, html.neutral ul#results li.selected {
	background: var(--neutral-button) linear-gradient(var(--neutral-button), var(--neutral-link));
}

html.neutral fieldset, html.neutral ul#commands, html.neutral ul#units {
	border-color: var(--neutral-button);
}

html.neutral h2 {
	text-shadow: 0 0 8px var(--neutral-link-hover);
}

html.neutral img.mask {
	filter: url(#mask_neutral);
}

html.protoss a {
	background: none;
	color: var(--protoss-link);
}

html.protoss a:hover, html.protoss a:active {
	background: none;
	color: var(--protoss-link-hover);
}

html.protoss button, html.protoss div#editor {
	border-color: var(--protoss-link);
}

html.protoss button, html.protoss ul#results li.selected {
	background: var(--protoss-button) linear-gradient(var(--protoss-button), var(--protoss-link));
}

html.protoss fieldset, html.protoss ul#commands, html.protoss ul#units {
	border-color: var(--protoss-button);
}

html.protoss h2 {
	text-shadow: 0 0 8px var(--protoss-link-hover);
}

html.protoss img.mask {
	filter: url(#mask_protoss);
}

html.terran a {
	background: none;
	color: var(--terran-link);
}

html.terran a:hover, html.terran a:active {
	background: none;
	color: var(--terran-link-hover);
}

html.terran button, html.terran div#editor {
	border-color: var(--terran-link);
}

html.terran button, html.terran ul#results li.selected {
	background: var(--terran-button) linear-gradient(var(--terran-button), var(--terran-link));
}

html.terran fieldset, html.terran ul#commands, html.terran ul#units {
	border-color: var(--terran-button);
}

html.terran h2 {
	text-shadow: 0 0 8px var(--terran-link-hover);
}

html.terran img.mask {
	filter: url(#mask_terran);
}

html.zerg a {
	background: none;
	color: var(--zerg-link);
}

html.zerg a:hover, html.zerg a:active {
	background: none;
	color: var(--zerg-link-hover);
}

html.zerg button, html.zerg div#editor {
	border-color: var(--zerg-link);
}

html.zerg button, html.zerg ul#results li.selected {
	background: var(--zerg-button) linear-gradient(var(--zerg-button), var(--zerg-link));
}

html.zerg fieldset, html.zerg ul#commands, html.zerg ul#units {
	border-color: var(--zerg-button);
}

html.zerg h2 {
	text-shadow: 0 0 8px var(--zerg-link-hover);
}

html.zerg img.mask {
	filter: url(#mask_zerg);
}

img.mask {
	filter: url(#mask);
}

input#query {
	margin-left: 1em;
	padding: 0.5em;
	width: 20em;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"], input[type="text"], textarea {
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid #fff;
	border-radius: 1.5em;
	color: #fff;
	font-size: inherit;
	padding: 0.25em;
}

input[type="search"]::placeholder {
	background: none;
	color: #808080;
	font-style: italic;
}

input[type="text"]::selection {
	background: none;
	color: inherit;
}

kbd {
	background: #000;
	border: 2px solid #c0c0c0;
	border-radius: 0.5em;
	box-shadow: 2px 2px 0 #c0c0c0;
	color: inherit;
	margin: 0 0.25em;
	padding: 0.1em 0.5em;
}

main {
	margin: 120px 2em 0;
}

main ul {
	list-style: square;
	margin: 0 2em;
	padding: 0;
}

p#code {
	margin: 0 0 1em;
}

p#control button:last-child {
	margin-left: 1em;
}

p#hotkey input {
	border-radius: 0.25em;
	height: 1em;
	margin: 0 0.5em 0.5em 0;
	text-align: center;
	width: 4em;
}

p#prestige {
	margin: 0;
}

section h2:not(:first-child) {
	margin-top: 4em;
}

span.button {
	border-bottom: 1px dotted #fff;
}

span.hotkey {
	text-decoration: underline;
}

textarea {
	padding: 1em;
}

ul#commands, ul#units {
	border-style: solid;
	border-width: 1px;
	clear: left;
	list-style: none;
	margin: 0;
	min-height: 1em;
	padding: 0.5em;
	white-space: nowrap;
}

ul#commands img, ul#results img, ul#units img {
	height: 1.5em;
	margin-right: 0.5em;
	vertical-align: middle;
	width: 1.5em;
}

ul#commands img:hover, ul#units img:hover {
	cursor: default;
	outline: 0;
}

ul#filters {
	background: transparent linear-gradient(#000, transparent);
	color: inherit;
	display: flex;
	height: calc(2em + 90px);
	left: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100%;
}

ul#filters button {
	background-size: 60px 72px;
	border: 1px solid var(--base-button);
	border-radius: 0.5em;
	color: inherit;
	display: block;
	font-size: inherit;
	margin: 1em 0.5em;
	height: 72px;
	width: 60px;
}

ul#filters button.active {
	box-shadow: 0 0 4px 1px #fff;
	transform: scale(1.25);
	transition: 0.3s transform;
}

ul#filters button:hover {
	border-color: var(--conflict-link);
	box-shadow: none;
}

ul#filters button.conflict {
	border-color: var(--conflict-border) !important;
}

ul#filters button.conflict.active {
	box-shadow: 0 0 4px 1px var(--conflict-link) !important;
}

ul#filters button.conflict:hover {
	border-color: var(--conflict-link) !important;
}

ul#filters button.exclude {
	opacity: 0.25;
	transition: 0.2s opacity;
}

ul#filters button.protoss {
	border-color: var(--protoss-link);
}

ul#filters button.protoss.active {
	box-shadow: 0 0 4px 1px var(--protoss-link);
}

ul#filters button.protoss:hover {
	border-color: var(--protoss-link-hover);
}

ul#filters button.terran {
	border-color: var(--terran-link);
}

ul#filters button.terran.active {
	box-shadow: 0 0 4px 1px var(--terran-link);
}

ul#filters button.terran:hover {
	border-color: var(--terran-link-hover);
}

ul#filters button.zerg {
	border-color: var(--zerg-link);
}

ul#filters button.zerg.active {
	box-shadow: 0 0 4px 1px var(--zerg-link);
}

ul#filters button.zerg:hover {
	border-color: var(--zerg-link-hover);
}

ul#filters li {
	flex-grow: 1;
}

ul#filters, ul#tabs {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul#results {
	background: rgba(0, 0, 0, 0.8);
	bottom: 2em;
	color: inherit;
	left: 1em;
	list-style: none;
	max-height: 50vh;
	min-width: 24em;
	overflow: auto;
	padding: 1px 0;
	position: absolute;
	white-space: nowrap;
}

ul#results li {
	padding-right: 1em;
}

ul#results li.selected {
	color: inherit;
	outline: 1px solid #fff;
}

ul#results li.selected a {
	background: none;
	color: #fff;
}

ul#tabs li {
	float: left;
	line-height: 100%;
}

ul#tabs button {
	border-radius: 0.5em 0.5em 0 0;
	border-width: 1px 1px 0;
	line-height: 125%;
	margin: 0 0.25em 0 0;
}

ul#tabs button:not(.active) {
	background: none;
	color: inherit;
}

@media (max-width: 1600px) {
	button {
		font-size: 1.5rem;
	}

	button:hover, p#hotkey input:focus {
		box-shadow: 0 0 4px 1px #fff;
	}

	fieldset.card>div {
		grid-gap: 3px 3px;
		grid-template-columns: 48px 48px 48px 48px 48px;
		grid-template-rows: 48px 48px 48px;
	}

	fieldset.card>div div, fieldset.card img, h2#unit img {
		height: 48px;
		width: 48px;
	}

	div#editor {
		bottom: 4em;
		font-size: 1rem;
		top: 100px;
	}

	h2, h3#command {
		font-size: 1.2rem;
	}

	h2#unit {
		font-size: 1.5rem;
		line-height: 48px;
	}

	h3 {
		font-size: 1rem;
	}

	html {
		font-size: 10pt;
	}

	main {
		margin-top: 100px;
	}

	ul#filters {
		height: calc(2em + 75px);
	}

	ul#filters button {
		background-size: 50px 60px;
		border-radius: 0.75em;
		height: 60px;
		width: 50px;
	}

	ul#results {
		bottom: 1em;
	}
}

@media (max-width: 1366px) {
	button {
		font-size: 1.25rem;
	}

	button {
		border-width: 1px;
	}

	button:hover, p#hotkey input:focus {
		box-shadow: 0 0 2px 1px #fff;
	}

	fieldset.card>div {
		grid-gap: 2px 2px;
		grid-template-columns: 32px 32px 32px 32px 32px;
		grid-template-rows: 32px 32px 32px;
	}

	fieldset.card>div div, fieldset.card img, h2#unit img {
		height: 32px;
		width: 32px;
	}

	div#editor {
		bottom: 3.5em;
		font-size: 1rem;
		top: 80px;
	}

	h2#unit {
		line-height: 32px;
	}

	html {
		font-size: 9pt;
	}

	main {
		margin-top: 80px;
	}

	ul#filters {
		height: calc(2em + 60px);
	}

	ul#filters button {
		background-size: 40px 48px;
		border-radius: 0.5em;
		height: 48px;
		width: 40px;
	}
}